body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('profilebg.jpeg'); /* Replace 'background.jpg' with your image file */
    background-size: cover;
    background-position: center;
}

nav {
    background-color:black;
    color: #333;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 10px; 
}

nav a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 10px 15px; 
    color: white;
}

nav a:hover {
    background-color: red;
}
footer {
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto; 
}
main {
    background-image: url('profilebg.jpeg');
    background-size: cover;
    background-position: center;
    flex: 1;
}
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
h1, h2 {
    text-align: center;
    margin-top: 100px;
    color: red;
}
label.logo{
    color: red;
    font-size: 35px;
}
.card-img-top {
    height: 300px;
    object-fit: cover;
    
}
.card-body {
    background-color:black;
    color: red;
}
.card-title{
    color: white;
}
.card-title {
    animation: glow 1.5s infinite alternate; 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); 
    text-align: center;
    
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red;
    }
    to {
        text-shadow: 0 0 20px #ff5f5f, 0 0 30px #ff5f5f, 0 0 40px #ff5f5f; 
    }
}
@media only screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

@media only screen and (min-width: 769px) {
    body {
        font-size: 16px;
    }
}

